<h2>Showing patient data for patient: <%= @patient.first_name %> </h2>
<br>
<%= button_to "Add Encounter", new_encounter_path(@patient),:method => :get %>

<div class="custom-alert">
  <%= flash[:notice] %>
</div>

<br>
<table>
  <tr>
    <th> MRN </th><th> First Name </th><th>Middle Name</th><th> Last Name </th><th> Weight </th> <th> Height </th>
        <tr>
          <td> <%= @patient.mrn %> </td>
          <td> <%= @patient.first_name %> </td>
          <td> <%= @patient.middle_name %> </td>
          <td> <%= @patient.last_name %> </td>
          <td> <%= @patient.weight %> </td>
          <td> <%= @patient.height %> </td>
        </tr>
</table>

<br>
<br>
<br>

<h4> Here is a list of all your encounters <%= @patient.first_name %> </h4>
<table>
  <tr>
    <th> Vist Number </th><th> Admitted At </th><th> Discharged At </th><th> Action</th>
      <% @encounters.each do |encounter| %>
        <tr>
          <td> <%= encounter.visit_number %> </td>
          <td> <%= encounter.admitted_at %> </td>
          <td> <%= encounter.discharged_at %> </td>
          <td> <%= link_to "Show", show_current_encounter_path(encounter) %>  <%= link_to "Edit", edit_current_encounter_path(encounter) %> <%= link_to "Delete", delete_current_encounter_path(encounter), data: { confirm: "Are you sure you want to delete this encounter" } %></td>
        </tr>
      <% end %>
</table>
